html,
body {
  background-color: #FAF1E6;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;

}
#inputs{
  
  margin-top: 8px;
  margin-bottom: 8px;
}
#img1{
   width: 110px;
   height: 110px;
}
#formedit{
  padding:20px 15px;
 background-color:#DDDDDD;
  border-radius: 7%;

}
.main-man{
  border: 2px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.top {
  margin: 5px 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.middle{
  margin: 5px 0px;
}
.bottom {
  margin: 5px 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
